/* Ajustes generales */
*{
    box-sizing: border-box;
    background-color: #0D2959;
}

html, body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
}

p, a, li, h1, h2, h3{
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    color: #C9DBF7;
    float: none;
}

h1{
    font-size:1.5em;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: #C9DBF7;
}

a{
    color: #2f74e0;
    background-color: inherit;
}

a:hover{
    color: #b1cbff;
}

a:active{
    color: #ffffff;
}

a:visited{
    color: #cec9f7;
}

h1{
    margin: 0;
    padding: 20px;
}

img{
    max-width: 80%;
}

footer{
    margin: 0;
    line-height: 5em;
    text-align: center;
}

/* Especificos */

ul.nav-menu{
    margin: 0px;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #C9DBF7;
}

li.nav-elem{
    display: inline-block;
    margin: 1%;
    background-color: inherit;
    color: #0D2959;
}

#static{
    position: fixed;
    top: 0px;
    width: 100%;
}

.blank{
    height: inherit;
    color: #fff;
}

main{
    max-width: 100%;
}

.intro{
    float:left;
    min-width: 25%;
    max-width: 50%;
}

img.intro{
    width: 45%;
    margin-left: 5%;
    margin-bottom: 5%;
}

img.demo{
    margin-left: 10%;
    margin-right: 10%;
}

.describe{
    font-size: 0.75em;
    margin: 5%;
    padding: 0 7.5% 0 7.5%;
}

img.gallery{
    float: left;
    margin: 2.5%;
    width: 45%;
}

h3.art-desc{
    margin-top: 20px;
}


@media screen and (min-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    
    .intro{
        margin: auto;
        padding: 2.5%;
        min-width: 80%;
        float: none;
    }
    
    img.intro{
        min-width: 50%;
        max-width: 60%;
        margin-bottom: 0;
        margin-left: 25%;
    }
    
    p.demo{
        float: left;
        width: 50%;
    }
    
    img.demo{
        float: left;
        width: 45%;
        margin-left: 5%;
    }

    main.content{
        float: left;
        flex-grow: 1;
    }


    footer{
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1100px){    
    h1{
        padding: 30px;
    }

    .article{
       float: left;
       margin: 2.5%;
       padding: 2.5%;
       width: 28.333%;
    }

    .art-img{
        float: left;
        width: 100%;
    }

    .art-desc{
        float: left;
        /*min-height: 10vh;*/ /* min-height no es necesario de momento. */
    }

     footer{
        float: left;
        width: 100%;
    }
}
